@media only screen and (min-width: 600px) {
  #wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  #infoBox {
    position:relative;
    height: 100%;
  }
}
