$f-family: "Orbitron", sans-serif;
$f2-family: "Press Start 2P", cursive;
body {
  margin: 0;
  padding: 0;
  background: #e13361;
}
#wrapper {
  overflow: hidden;
  height: 100vh;
  width: 100%;
}
/*******/
.headerDivider {
  border-left: 1px solid #38546d;
  border-right: 1px solid #16222c;
  height: 37px;
}
.stripe {
  margin-left: -66px;
}
.snake-title {
  text-align: center;
  font-family: $f-family;
  color: #fad9e0;
}
#playerBox {
  text-align: center;
  #playerAvatar {
    transform: rotate(90deg);
  }
}
.date {
  font-family: $f-family;
  color: #fad9e0;
  transform: rotate(90deg);
}
#iconbox {
  grid-area: ftright;
  width: 200px;
  display: flex;
  justify-content: start;
  align-items: start;
  margin-top: -45px;
  margin-left: 21px;
  #joystickIcon {
    // display: none;
    width: 35px;
    margin-left: 12px;
  }
  #keyboardIcon {
    // display: none;
    margin-top: 10px;
    width: 45px;
  }
}
#cross {
  position: relative;
  z-index: 99;
  & img {
    margin-top: -65px;
    width: 25px;
  }
  &:hover::after {
    position: absolute;
    top: -126px;
    // left: 114px;
    color: white;
    font-family: $f2-family;
    font-weight: 800;
    content: "Control \A ------ \A ◀︎ ▲ ▼ ▶︎ \A";
    white-space: pre-wrap;
    // border: 3px solid;
    // border-radius: 5px;
    padding-bottom: 1%;
    box-sizing: border-box;
    // background: #63e3b8;
    width: 147px;
  }
}
#author,
#inspiredBy {
  display: none;
  text-align: center;
  font-family: $f-family;
  color: white;
}
.dialog-ok-btn {
  width: 100%;
  bottom: -58px;
  position: absolute;
  left: 0;
}
/* combo */
.combo {
  width: 108px;
  height: 40px;
  line-height: 30px;
  font-size: 1.3em;
  font-weight: 900;
  background: #f93c6f;
  border: 6px solid #000000;
  box-sizing: border-box;
  border-radius: 25px;
  font-family: $f-family;
  color: white;

  & img {
    width: 20px;
  }
}
.info-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#console {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: #ffda00;
  box-sizing: border-box;

  #gameBox {
    display: block;
    margin: 0 auto;
    width: 310px;
    height: 460px;
    overflow: hidden;
    box-sizing: border-box;
  }
  #gameStats {
    grid-area: btcenter2;
    align-self: flex-start;
    justify-self: baseline;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: $f-family;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    line-height: 35px;
    // color: white;

    #enemyStats {
      border: 6px solid black;
      width: 299px;
      height: 61px;
      display: -webkit-box;
      display: flex;
      overflow-x: scroll;
      overflow: hidden;
      -webkit-overflow-scrolling: touch;
    }
    #comboBox {
      display: flex;
      align-items: center;

      #multiply img {
        width: 20px;
      }
      & .combo-number {
        align-self: flex-end;
        font-family: $f-family;
        font-size: 1.4em;
        font-weight: 900;
        // text-shadow: 3px 3px 6px black;
      }
    }

    #trophy {
      border-radius: 5px;
      align-self: center;
      text-align: center;
      font-weight: 800;
      align-self: flex-end;
    }
  }
}

/********/
#canvas {
  background: black;
}
.nes-container {
  padding: 0;
}
