#wrapper {
  height:100vh;
  width:100%;
}
#infoBox {
  width: 100%;
  background: #2196f3;
  // position: absolute;
  // top: 5px;
  z-index: 999;
}
#gameBox {
  display:block;
  margin: 0 auto;
  width: 600px;
  height: 450px;
  overflow:hidden;
}
#startBtn {
  position: absolute;
  z-index: 999;
  margin: 25% 40%;
}
#canvas {
  background: black;
}
.nes-container {
  padding: 0;
}
